{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue
{% endblock %}
{% block content %}
<h1># amazon-social-engineering</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : - ajoute une nouvelle personne pour chaque nouveau hack
- amuse toi à chercher des informations sur le nom complet, lorigine du nom, le pays, le nom complet , etc. pour compléter les informations de la personne
- le programme récupère texte réseau sociaux et entreprise, even surveilling their real-life movements and activities.
- choisis un hack : baiting (greed, curiosity) ,phishing (pretext) , pretexting(trust), tailgating (piggybacking) (carelessness, social norms), scareware (urgency, fear), honeytrapping, dns spoofing, water holing, diversion theft (distraction), quid pro quo (reward),  etc. qui ont des human traits
- récupère des données
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
