{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldtexte_reseau_sociauxnom_social_media">nom_social_media</label><input type="text" id="somefieldtexte_reseau_sociauxnom_social_media" name="nom_social_media"/></div>
<div class="field"><label for="somefieldpersonne_id">personne_id</label><select id="somefieldpersonne_id" name="personne_id"><option value="novalue">no value</option>
{% for somepersonne in touslespersonne %}
<option value="{{ somepersonne['id'] }}">{{ somepersonne['name'] }}</option>{% endfor %}
</select></div>
<div class="field"><label for="somefieldtexte_reseau_sociauxcontent">content</label><input type="text" id="somefieldtexte_reseau_sociauxcontent" name="content"/></div><div class="actions"><input type="submit"/></div></form>{% for x in texte_reseau_sociauxs %}{{x["nom_social_media"] }}{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_texte_reseau_sociaux"> add one texte_reseau_sociaux</a>{% endblock %}